<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Google Chart TreeMap Demo</title>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['treemap']});
    google.charts.setOnLoadCallback(drawChart);
    google.charts.setOnLoadCallback(drawChartFiles);

    var isNestedChart1 = false; // Variable to track nesting state
    var isNestedChart2 = false; // Variable to track nesting state

    function drawChart() {
      var data = new google.visualization.DataTable();
      data.addColumn('string', 'Category1');
      data.addColumn('string', 'Category2');
      data.addColumn('number', 'Value');
      data.addRows($treeview_rows$);

      var options = {
        highlightOnMouseOver: false,
        maxDepth: isNestedChart1 ? 1 : 1,
        maxPostDepth: isNestedChart1 ? 2 : 2,
        minColor: '#B0C4DE',
        midColor: '#B0C4DE',
        maxColor: '#B0C4DE',
        headerHeight: 15,
        showScale: true,
        useWeightedAverageForAggregation: true,
        generateTooltip: showFullTooltip
      };

      var chart = new google.visualization.TreeMap(document.getElementById('chart_div'));
      chart.draw(data, options);

      function showFullTooltip(row, size, value) {
        return data.getValue(row, 0).startsWith('PWR') ? '<div style="background:#fd9; padding:10px; border-style:solid">' +
               '<span style="font-family:Courier">' + "<a href='https://github.com/codee-com/open-catalog/tree/main/Checks/" + data.getValue(row, 0) +  "' target='_blank' rel='noopener noreferrer'/>Documentation</a>" + '</span><br>' +
               '</div>' : '';
      }

      // Add click event listener to simulate unnesting
      google.visualization.events.addListener(chart, 'select', function() {
        if (isNestedChart1) {
          isNestedChart1 = false;
          drawChart();
        } else {
          isNestedChart1 = true;
        }
        // drawChart(); // Redraw the chart with the updated data
      });

    }

    function drawChartFiles() {
      var data_files = new google.visualization.DataTable();
      data_files.addColumn('string', 'Category1');
      data_files.addColumn('string', 'Category2');
      data_files.addColumn('number', 'Value');
      data_files.addRows($files_rows$);

      var options2 = {
        highlightOnMouseOver: false,
        maxDepth: isNestedChart2 ? 1 : 1,
        maxPostDepth: isNestedChart2 ? 2 : 2,
        minColor: '#B0C4DE',
        midColor: '#B0C4DE',
        maxColor: '#B0C4DE',
        headerHeight: 15,
        showScale: true,
        useWeightedAverageForAggregation: true,
        generateTooltip: showFullTooltip2
      };

      var chart2 = new google.visualization.TreeMap(document.getElementById('chart_div_files'));
      chart2.draw(data_files, options2);

      function showFullTooltip2(row, size, value) {
        return  '<div style="background:#fd9; padding:10px; border-style:solid">' +
               '<span style="font-family:Courier">' + '<b>' + data_files.getValue(row, 2) + ' h</b>' + '</span><br>' +
               '</div>';
      }

      // Add click event listener to simulate unnesting
      google.visualization.events.addListener(chart2, 'select', function() {
        if (isNestedChart1) {
          isNestedChart1 = false;
          drawChart();
        } else {
          isNestedChart1 = true;
        }
        // drawChart(); // Redraw the chart with the updated data
      });

    }
  </script>
  <style>
    .treeplot {
      width: 95%;
      height: 300px;
      align-self: center;
      flex-direction: column;
    }
    .container {
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  </style>
</head>
<body>
  <div class="container">
    <div id="chart_div" class="treeplot"></div>
    <div id="chart_div_files" class="treeplot"></div>
  </div>
</body>